*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-color: #b1b1b1;
}
.contenu_ouvrant{
    position: absolute;
    left: 25%;
    top: 20px;
    width: 690px;
    height: auto;
    border-radius: 1rem;
    color: #ac9a9a;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    padding: 3px;
    box-shadow: 2px 3px 2px 4px rgba(21, 19, 19, 0.48);
}
.contenu_ouvrant .reglesquiz{
    background-color: #130c12;
    color: #fff;
    z-index: 2;
    border: 2px solid #ffeb3b;
    border-radius: 12px;
    padding: 17px;
}
.contenu_ouvrant .reglesquiz h1{
    font-size: 45px;
    text-align: center;
    color: #ff00e0;
    background-color: rgba(0, 0, 0, 0.48);
    border: 1px solid #fff;
    border-radius: 3em;
    padding: 9px 0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 3px 2px 4px rgba(195, 212, 217, 0.379);
}
.contenu_ouvrant .reglesquiz h1:hover{
    background-color: #ffeb3b;
    background-color: rgba(216, 113, 113, 0.466);
    scale: 2s;
}
hr{
    height: 8px;
    background: #ffeb3b;
    width: 100%;
    border-radius: 15px;
    animation: animet 5s linear infinite;
}
.contenu_ouvrant .reglesquiz h3{
    font-size: 30px;
    text-align: center;
    color: #00f7ff;
    background-color: rgba(0, 0, 0, 0.48);
    border: 0.5px solid #fff;
    border-radius: 3em;
    padding: 7px;
    margin: 19px 19px 0 0 ;
}
.contenu_ouvrant .reglesquiz h3 strong{
    background-color:rgba(59, 51, 51, 0.48) ;
    border-radius: 50%;
    font-size: 35px;
    color: yellow;
    animation: animet 5s linear infinite;
    
}
@keyframes animet {
    100%{filter: hue-rotate(360deg);}
}
.contenu_ouvrant .reglesquiz p{
    padding: 12px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color:black;
    background-color: #eaeaead7;
    border: 0.5px solid black;
    border-radius: 10px;
    margin-top: 23px;
    margin-bottom: 20px;
    padding-top: 15px;

}

.contenu_ouvrant .reglesquiz p span{
    font-size: 25px;
    color: red;
    font-weight: bold;
    /* animation: animet 5s linear infinite; */
}
.contenu_ouvrant .reglesquiz p strong{
    font-size: 25px;
    color: rgb(8, 8, 152);
    font-weight: bold;
    animation: animet 5s linear infinite;

}
.contenu_ouvrant button{

font-size: 63px;
height: 40px;
width: 25%;
background: blue;
border: none;
border-radius: 20px;
cursor: pointer;
color: #130c12;
font-size: 17px;
box-shadow: 0 0 1px 2px rgba(219, 222, 131, 0.379);
}
.contenu_ouvrant button:hover{
    background: rgb(132, 132, 224);
    color: #ffeb3b;
    box-shadow: 2px 3px 1px 2px rgba(140, 190, 146, 0.379);

}

/* Le style de mon Contenu general */

.contenu_general{ 
    display: none;
    color: #fff;
    position: absolute;
    left: 25%;
    top: 20px;
    width: 692px;
    height: 591px;
    border-radius: 12px;
    padding: 7px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);

}
.contenu_general .sous_contenugenaral{
    background-color: rgba(9, 8, 8, 0.835);
    position: relative;
    color: #fff;
    width: 677px;
    height: 580px;
    border-radius: 12px;
    padding: 10px;
    

}
.contenu_general .sous_contenugenaral .mes_questions{
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 659px;
    height: 450px;
    padding: 12px;
    z-index: 12;
    margin-top: 5px;
    border: 0.5px solid #fff;
    border-radius: 12px;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}
.mes_questions h2{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color: #e41111;
    background: rgba(249, 249, 249, 0.742);
    border-radius: 62px;
    cursor: pointer;
    
}
.mes_questions h2:hover{
    background-color: #00f7ff;
}
.mes_questions p {
    text-align: center;
    font-size: 25px;
    color: #06ff0a;
    margin: 12px;
    
}
.mes_inputs{
    font-size: 50px;
    font-weight: 600;
    background-color: #06ff0a;
    
}

.commentaire_reponse{
    color: #eaff06;
    background-color: #2a37377e;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    height: auto;
    width: 170px;
    left: 490px;
    bottom: 120px;
    padding: 12px;
    border-radius: 0.7rem;
    
}

.resultat{
    font-size: 23px;
    color: rgb(95, 28, 28);
    background-color: #ccf9ccf7;
    width: 200px;
    height: auto;
    position: absolute;
    top: 14px;
    left: 600px;
    font-weight: 600;
    padding: 9px;
    border-radius: 0.9rem;
    

}
#finish{
    font-size: 63px;
    height: 40px;
    width: 25%;
    background: rgba(234, 3, 3, 0.808);
    border: none;
    border-radius: 20px;
    margin-left: 453px;
    cursor: pointer;
    font-weight: bold;
    color: #130c12;
    font-size: 17px;
    box-shadow: 0 0 1px 2px rgba(219, 222, 131, 0.536);
    margin-top: 12px;
    margin-bottom: 13px;
    animation: animet 5s linear infinite;
    letter-spacing: 5px;
    /* margin: 23px; */
}
#finish:hover{
    background: rgb(132, 132, 224);
    color: #ffeb3b;
    box-shadow: 2px 3px 1px 2px rgba(140, 190, 146, 0.379);

}

.progress-bar {
    width: 50%;
    height: 9px;
    background-color: #434141;
}
.progress {
    height: 70%;
    background-color: blue;
    border-radius: 12px;
    background-position: center;
    width: 0;
    box-shadow: 0 0 1px 1px #ffeb3b;
    animation: animet 5s linear infinite;
}


/*
** Adoption aux medias
*/
@media screen and (max-width: 1000px) {
    .reglesquiz, .mes_questions{
        display: flex;
        width: 100%;
        flex-wrap: wrap;

    }
    .contenu_ouvrant, .contenu_general, .sous_contenugenaral{
        width: 100%;
    }
}